html,
body {
  text-align: center;
  color: white;
  background: #42275a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #734b6d,
    #42275a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #734b6d,
    #42275a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
